In [23]:
assert 3 > 5, "wrong!"

AssertionError: wrong!

In [9]:
import asyncio

async def main():
    print('Hello')
    await asyncio.sleep(1)
    print('world')

In [11]:
# asyncio.run(main())

In [15]:
# def double(x): return x * 2
double = lambda x: x*2

In [16]:
for i in range(1, 6):
    print(double(i))

2
4
6
8
10

In [17]:
# Program to filter out only the even items from a list
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(filter(lambda x: (x%2 == 0) , my_list))

print(new_list)

[4, 6, 8, 12]

In [21]:
# Program to double each item in a list using map()

my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(map(lambda x: x * 2 , my_list))

print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24]

In [5]:
g = (2**x for x in range(100))

In [11]:
next(g)

16

In [29]:
def generator():
    for i in range(6):
        yield i*i

In [30]:
g = generator()

In [31]:
next(g)

0

In [32]:
def double(num):
    """Function to double the value"""
    return 2*num

In [33]:
double.__doc__

'Function to double the value'

In [34]:
def printHello():
    print('Hello')

In [36]:
a = printHello

In [37]:
a()

Hello

In [38]:
def greet(*names):
    """This function greets all
    the person in the names tuple."""

    # names is a tuple with arguments
    for name in names:
        print("Hello", name)


greet("Monica", "Luke", "Steve", "John")

Hello Monica
Hello Luke
Hello Steve
Hello John

In [43]:
def greet(*names):
    """This function greets all
    the person in the names tuple."""

    # names is a tuple with arguments
    print("Hello", *names)
    
greet("Monica", "Luke", "Steve", "John")

Hello Monica Luke Steve John

In [44]:
def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))


num = 3
print("The factorial of", num, "is", factorial(num))

The factorial of 3 is 6

In [63]:
odd = [1, 9]
odd.insert(1,3)

print(odd)

odd[2:2] = [5, 7]

print(odd)

[1, 3, 9]
[1, 3, 5, 7, 9]

In [55]:
odd.insert(3, 7)

In [64]:
odd

[1, 3, 5, 7, 9]

In [65]:
odd[0:2] = [5, 7]

In [66]:
odd

[5, 7, 5, 7, 9]

In [71]:
# Deleting list items
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

# delete one item
del my_list[2]

# Deleting list items
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

print(my_list)

# Deleting list items
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

# delete multiple items
del my_list[1:5]

# Deleting list items
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

print(my_list)

# delete entire list
del my_list

# Deleting list items
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

# Error: List not defined
print(my_list)

['p', 'r', 'o', 'b', 'l', 'e', 'm']
['p', 'r', 'o', 'b', 'l', 'e', 'm']
['p', 'r', 'o', 'b', 'l', 'e', 'm']

In [72]:
my_list = ['p','r','o','b','l','e','m']
my_list.remove('p')

# Output: ['r', 'o', 'b', 'l', 'e', 'm']
print(my_list)

# Output: 'o'
print(my_list.pop(1))

# Output: ['r', 'b', 'l', 'e', 'm']
print(my_list)

# Output: 'm'
print(my_list.pop())

# Output: ['r', 'b', 'l', 'e']
print(my_list)

my_list.clear()

# Output: []
print(my_list)

['r', 'o', 'b', 'l', 'e', 'm']
o
['r', 'b', 'l', 'e', 'm']
m
['r', 'b', 'l', 'e']
[]

In [73]:
# Python list methods
my_list = [3, 8, 1, 6, 0, 8, 4]

# Output: 1
print(my_list.index(8))

# Output: 2
print(my_list.count(8))

my_list.sort()

# Output: [0, 1, 3, 4, 6, 8, 8]
print(my_list)

my_list.reverse()

# Output: [8, 8, 6, 4, 3, 1, 0]
print(my_list)

1
2
[0, 1, 3, 4, 6, 8, 8]
[8, 8, 6, 4, 3, 1, 0]

In [74]:
pow2 = [2 ** x for x in range(10) if x > 5]
pow2

[64, 128, 256, 512]

In [75]:
[x+y for x in ['Python ','C '] for y in ['Language','Programming']]

['Python Language', 'Python Programming', 'C Language', 'C Programming']

In [76]:
# Intersection of sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use & operator
# Output: {4, 5}
print(A & B)

{4, 5}

In [77]:
A.intersection(B)

{4, 5}

In [78]:
# Dictionary Methods
marks = {}.fromkeys(['Math', 'English', 'Science'], 0)
# Output: {'English': 0, 'Math': 0, 'Science': 0}
print(marks)

{'Math': 0, 'English': 0, 'Science': 0}

In [79]:
for item in marks.items():
    print(item)

('Math', 0)
('English', 0)
('Science', 0)

In [80]:
marks.keys()

dict_keys(['Math', 'English', 'Science'])

In [81]:
# Dictionary Comprehension
squares = {x: x*x for x in range(6)}

print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [82]:
# Dictionary Comprehension with if conditional
odd_squares = {x: x*x for x in range(11) if x % 2 == 1}

print(odd_squares)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [83]:
# Iterating through a Dictionary
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
for i in squares:
    print(squares[i])

1
9
25
49
81

---